--find-links https://download.pytorch.org/whl/torch_stable.html
fastapi==0.109.2
uvicorn[standard]==0.27.1
pydantic==2.11.4
python-dotenv==1.0.1
google-generativeai==0.3.2
mistralai==1.7.0
transformers==4.38.2
torch==2.2.1 --index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cu118
sentencepiece==0.1.99; sys_platform != 'linux' or python_version < '3.12'
protobuf==3.20.3